.navbar-dropdown {
  position: fixed;
  top: 100px;
  left: 35%;
  right: 1.8%;
  border-radius: 11px 10px 10px 11px;
  display: flex;
  background-color: $color-neutral-white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  font-family: $font-secondary;

  .dropdown-menu {
    width: 35%;
    background-color: $primary-color;
    padding: 40px;
    border-radius: 10px 0 0 10px;

    .dropdown-item {
      padding: 30px;
      
      cursor: pointer;

      h3 {
        color: $color-neutral-black;
        font-size: 18px;
        margin-bottom: 5px;
      }

      p {
        color: $color-neutral-white;
        font-size: 14px;
        line-height: 1.4;
      }

      &.active {
        background-color: rgba($color-neutral-white, 0.4);
        position: relative;
        border-radius: 10px;

        &::after {
          content: '→';
          position: absolute;
          right: 10px;
          top: 30%;
          transform: translateY(-50%);
          color: $color-neutral-black;
          font-size: 24px;
        }
      }
    }
  }

  .dropdown-content {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-family: $font-secondary;

    .content-section {
      h3 {
        color: $secondary-color;
        font-size: 16px;
        margin-bottom: 15px;
        transition: color 0.3s ease;
      }

      .content-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          background-color: rgba($secondary-color, 0.1);
          transform: translateY(-5px); // Légère élévation au survol
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); // Ajout d'une ombre
          border-radius: 10px;
        }

        .icon {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          margin-right: 10px;
          transition: background-color 0.3s ease;
        }

        .item-content {
          h4 {
            color: $color-neutral-black;
            font-size: 14px;
            margin: 0 0 5px 0;
            font-family: $font-secondary;
            transition: color 0.3s ease;
          }

          p {
            color: $color-neutral-gray;
            font-size: 12px;
            margin-right: 0;
            line-height: 1.4;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}