// _variables.scss

// Colors
$primary-color: #f7d411;
$secondary-color: #141414;
$tertiary-color: #1ba339;
$background-color: #E9E2D7;
$gray-color: #949494;
$white-color: #FDFDFD;

// Typography
$font-primary: 'Angie Sans', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

// Font sizes
$h1-size: 44px;
$h2-size: 36px;
$h3-size: 28px;
$h4-size: 22px;
$body-size: 16px;
$small-size: 15px;

// Font weights
$font-bold: 700;
$font-light: 300;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;

// Variables
$section-padding: 20px;
$border-radius: 14px;
$title-color: #ffffff;
$grid-gap: 20px;