.site-express-page {
  @extend .template-selection-page;

  .carousel {
    .thumbnail {
      display: none;
    }

    .list .item {
      img {
        margin-top: 8%;
        margin-left: 60%;
        width: 30%;
        height: 70%;
      }

      .content {
        top: 20%;
        width: 1140px;
        max-width: 80%;
        padding-right: 30%;

        // Changement de la couleur du topic (PREMIUM ET ÉCO-CONÇU)
        .topic {
          color: $color-accent-1;
        }

        // Ajustement des boutons
        .buttons {
          grid-template-columns: 130px 250px;
        }
      }
    }
  }
}