.pricing-options {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .pricing-card {
        background-color: $color-neutral-black;
        border-radius: $border-radius;
        padding: 20px;
        width: calc(33.333% - 20px);
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);

        &.best-option {
            background-color: $color-accent-1;
        }

        .best-option-label {
            position: absolute;
            top: -20px;
            right: 25%;
            background-color: $color-accent-utility;
            color: $color-neutral-black;
            padding: 5px 10px;
            border-radius: $border-radius;
            font-size: $small-size-2;
            font-weight: bold;
        }

        h3 {
            font-family: $font-primary;
            letter-spacing: 1px;
            font-size: $body-size;
            color: $color-neutral-white;
            margin-bottom: 10px;
        }

        .price {
            font-family: $font-primary;
            font-size: $h2-size;
            color: $secondary-color;
            margin-bottom: 20px;

            .price-note {
                font-size: $small-size;
                vertical-align: super;
            }
        }

        .features {
            list-style-type: none;
            padding: 0;
            margin-bottom: 20px;
            color: $color-neutral-white;

            li {
                margin-bottom: 10px;
                font-family: $font-secondary;
                font-size: $small-size;

                &.included:before {
                    content: '✓';
                    color: $color-neutral-white;
                    margin-right: 5px;
                }

                &.not-included {
                    color: $color-neutral-gray;
                    text-decoration: line-through;

                    &:before {
                        content: '✗';
                        color: $secondary-color;
                        margin-right: 5px;
                    }
                }
            }
        }

        .choose-option {
            background-color: $secondary-color;
            color: $color-neutral-white;
            border: none;
            padding: 10px 15px;
            border-radius: $border-radius;
            font-family: $font-secondary;
            font-size: $small-size;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media (max-width: $tablet) {
    .pricing-options {
        flex-direction: column;

        .pricing-card {
            width: 100%;
        }
    }
}