body {
  font-family: $font-primary;
  font-size: $body-size;
  line-height: 1.5;
}

h1 {
  color: $primary-color;
  font-family: $font-primary;
  font-weight: $font-bold;
  font-size: $h1-size;
}

h2 {
  color: $secondary-color;
  font-family: $font-primary;
  font-weight: $font-bold;
  font-size: $h2-size;
}


p,
a {
  font-size: $body-size;
  font-family: $font-secondary;
  color: $color-neutral-black;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-family: $font-tertiary;
  font-size: $h4-size;
}

small {
  font-family: $font-secondary;
  font-size: $small-size;
  font-weight: $font-light;
}
